@{
    ViewData["Title"] = "Accessibility";
}

<h1>@ViewData["Title"]</h1>

<div class="asy-content">
    <p>
        1. Accessibility Features <br />
        &rarr; Keyboard navigation support. <br />
        &rarr; Alternative text for images. <br />
        &rarr; Adjustable text size for readability.
    </p>

    <p>
        2. Feedback and Contact <br />
        &rarr; If you encounter accessibility barriers, please contact us at <a href="mailto:support@danime.com">support@danime.com</a>. We welcome your feedback to improve our services.
    </p>
    
</div>