@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Welcome to <span class="name-highlight">Danime</span></h2>
    <p>The best site to look up for Anime and Manga</p>
    <button class="btn btn-warning btn-color" onclick="window.location.href='@Url.Action("Search", "Anime")'">Search Anime &rarr;</button>
</div>
