@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div class="pry-content">
    <p>
        1. Information We Collect <br />
        &rarr; Personal data (e.g., email, username) when you create an account. <br />
        &rarr; Usage data (e.g., pages visited, time spent on site) for analytics.
    </p>

    <p>
        2. How We Use Your Information <br />
        &rarr; To provide and improve our services. <br />
        &rarr; To personalize user experience. <br />
        &rarr; To send updates or promotional content (if opted in).
    </p>
    
    <p>
        3. Data Protection <br />
        &rarr; We use encryption and security measures to protect your data. However, no online service is 100% secure.
    </p>

    <p>
        4. Cookies <br />
        &rarr; Danime uses cookies to enhance user experience. You can disable cookies in your browser settings.
    </p>

    <p>
        5. Changes to This Policy <br />
        &rarr; We may update this Privacy Policy. Users will be notified of significant changes.
    </p>

    <p> For questions regarding this Privacy Policy, contact us at <a href="mailto:privacy@danime.com">privacy@danime.com</a>. </p>
</div>