@{
    ViewData["Title"] = "Terms of Use";
}

<h1>@ViewData["Title"]</h1>

<div class="tou-content">
    <p>
        1. Use of the Website <br />
        &rarr; You must be at least 13 years old to use Danime. <br />
        &rarr; You agree not to misuse the website for illegal purposes. <br />
        &rarr; Content on Danime is for personal use only and cannot be redistributed without permission.
    </p>

    <p>
        2. Intellectual Property <br />
        &rarr; All content on Danime, including text, images, and logos, is the property of Danime or its licensors and is protected by copyright laws.
    </p>

    <p>
        3. User-Generated Content <br />
        &rarr; Users may contribute reviews, comments, and ratings. By posting content, you grant Danime a non-exclusive, worldwide license to use, modify, and display the content.
    </p>

    <p>
        4. Limitation of Liability <br />
        &rarr; Danime is not responsible for any damages resulting from the use of our services. We do not guarantee the accuracy of the information provided.
    </p>

    <p>
        5. Changes to Terms <br />
        &rarr; We may update these terms from time to time. Continued use of the website constitutes acceptance of the new terms.
    </p>
</div>
